@model RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

<div>
    <form action="/register" method="post">
        @Html.AntiForgeryToken()
        <p>
            <label>Email</label>
            <input name="Email" type="text" value="@Model.Email"/>
            <div class="error">@Html.ValidationMessageFor(item => item.Email)</div>
        </p>
        <p>
            <label>Password</label>
            <input name="Password" type="password"/>
            <div class="error">@Html.ValidationMessageFor(item => item.Password)</div>
        </p>
        

        <button>Sign In</button>
        
        <div class="g-recaptcha" data-sitekey="@ViewBag.CaptchaSitekey"></div>
        @* <div class="g-recaptcha" data-sitekey="6LfOXbIlAAAAALgAiTLS2XbTuaTjdLW6plmG9Elv"></div> *@
        <div class="error">@Html.ValidationMessage("captcha")</div>
    </form>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js"></script>
}
